# Last Updated on February 09, 2018 by Ben Kastner and Isfar Baset


body {
    font-family: sans-serif;
    background: #8b2e2f;
}

h1 {
    text-align: center;
    color: #edcd45;
}

h3 {
    background: #8b2e2f;
    padding: 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    color: #edcd45;
}

th {
    text-align: center;
}

table.mainTable {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-spacing: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-color: #8b2e2f;
    background: #ffffff;
}

table.infoTable td {
    border: 1px solid #8b2e2f;
    padding: 5px;
    text-align: center;
}

table.infoTable td.name {
    text-align: left;
}

table.infoTable td.empty {
    background-color: #f77;
    border: 1px solid red;
    font-size: 70%;
}

div#updated {
    text-align: center;
    font-size: 50%;
}

p.credits {
    text-align: center;
    font-size: 90%;
}

table.soda-poplogo {
    text-align: center;
}
